# Middleman files
/.bundle
/build

# Compass / Sass files
.sass-cache

# OS and Editor files
.DS_Store
*.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.svn
.idea

# Bower components
bower_components/

# Node modules
node_modules/

# Dropbox files that get included
.dropbox
Icon*

# Adobe Asset Files
*.psd
*.ai
*.indd/vendor/

# Don't ignore the icons.lua though! This is because of the Icon* in the name
# above. I did not know that `gitignore` entries isn't case-sensitive.
!nvim/lua/icons.lua
