Host gist.github.com
  IdentityFile ~/.ssh/github-id_ed25519
  Port 22
  User git
  PreferredAuthentications publickey

Host github.com
  IdentityFile ~/.ssh/github-id_ed25519
  Port 22
  User git
  PreferredAuthentications publickey

Host *.runners.sr.ht
  IdentityFile ~/.ssh/srht-id_ed25519
  Port 22
  User builds
  PreferredAuthentications publickey

Host git.sr.ht
  IdentityFile ~/.ssh/srht-id_ed25519
  Port 22
  PreferredAuthentications publickey

Host rw.rs
  IdentityFile ~/.ssh/rwrs-id_rsa
  Port 22
  User rsr
  PreferredAuthentications publickey
