---
tumblr:
  :enabled: true
  :access_token: {{ onepasswordRead "op://Personal/tumblr.com/add more/access_token" "my.1password.com" }}
  :secret: {{ onepasswordRead "op://Personal/tumblr.com/add more/secret" "my.1password.com" }}
  :tumblr_name: rogerisworking
twitter:
  :enabled: true
  :token: {{ onepasswordRead "op://Personal/lol commits Twitter/add more/token" "my.1password.com" }}
  :token_secret: {{ onepasswordRead "op://Personal/lol commits Twitter/add more/token_secret" "my.1password.com" }}
  :prefix: ''
  :suffix: "#rogerisworking"
  :open_tweet_url: false
loltext:
  :enabled: true
  :overlay:
    :enabled: true
    :overlay_colors: "#9400D3,#4B0082,#0000FF,#00FF00,#FFFF00,#FF7F00,#FF0000"
    :overlay_percent: 45
  :message:
    :color: white
    :font: "/Users/rsr/Library/Fonts/M+\ 2m\ light\ Nerd\ Font\ Complete.ttf"
    :position: NW
    :size: 20
    :stroke_color: none
    :uppercase: false
  :sha:
    :color: white
    :font: "/Users/rsr/Library/Fonts/M+\ 2m\ light\ Nerd\ Font\ Complete.ttf"
    :position: NE
    :size: 18
    :stroke_color: none
    :uppercase: false
